@{
    ViewData["Title"] = "Recuperar Contraseña";
}


<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>
<br />
<br />

<form asp-controller="Account" asp-action="RecoverPassword" method="post">
    <h1 class="h3 mb-3">Recuperar Contraseña</h1>
    <div class="form-group">
        <label for="lastName" class="font-weight-bold text-center">Nombre de Usuario:</label>
        <input type="text" name="user" class="form-control col-5 mx-auto" />
    </div>

    <center><button type="submit" class="btn-lg btn-primary">Recuperar</button></center>
    <label class="alert-danger">@ViewBag.msg</label>
</form>
