<div class="top_Title">
    @{
        ViewData["Title"] = "Home Administrator";
    }
</div>

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton1">
            <a asp-action="Requests" asp-controller="AdminPae" class="btn btn-primary mx-auto">ENVIAR SOLICITUDES</a>
            <a asp-action="ProductRegister" asp-controller="AdminPae" class="btn btn-primary mx-auto ml-2">REGISTRAR PRODUCTOS</a>
            <a asp-action="UserRegister" asp-controller="AdminPae" class="btn btn-primary mx-auto ml-2">REGISTRAR USUARIOS</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton1">
            <a asp-action="Exit" asp-controller="AdminPae" class="btn btn-primary mx-auto">SALIR</a>
        </div>
    </div>
</div>