<div class="top_Title">

    @{
        ViewData["Title"] = "Create Food";
    }
</div>

<!--<div class = "text-white">-->
<h3>@ViewData["Title"] </h3>
<!--</div>-->

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" />
</div>

<label for="amount2" class="fs-5">Name:</label>
<input type="text" id="amount4" name="amount4">

<h1 style="margin-top: 20px;">Product</h1>

<div class="container">
    <div class="row">
        <div class="col d-flex">
            <div class="box">
                <input type="text" class="btn btn-light mx-auto ml-2 position-relative id=" nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount1">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
            <div class="box">
                <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount2">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
            <div class="box">
                <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount3">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
            <div class="box">
                <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount4">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex">
            <div class="box">
                <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount1">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
            <div class="box">
                <input type="text" class="btn btn-light mx-auto  position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount2">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
            <div class="box">
                <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount3">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
            <div class="box">
                <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
                <label for="amount4">Amount:</label>
                <input type="text" id="amount4" name="amount4" class="short-input">
                <button type="button" class="box-btn">Add</button>
            </div>
        </div>
    </div>
</div>