<div class="top_Title">

    @{
        ViewData["Title"] = "Create Menus";
    }
</div>

<!--<div class = "text-white">-->
<h3>@ViewData["Title"] </h3>
<!--</div>-->

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" />
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationrecivetext">
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton">
            <button type="button" class="btn btn-light mx-auto position-relative">
                ADD
            </button>
            <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
                ADD
            </button>
            <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
                ADD
            </button>
            <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
                ADD
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationrecivetext">
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
            <input type="text" class="btn btn-light mx-auto position-relative id="nombre" name="nombre" value="<%= Model.Nombre %>" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton">
            <button type="button" class="btn btn-light mx-auto position-relative">
                ADD
            </button>
            <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
                ADD
            </button>
            <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
                ADD
            </button>
            <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
                ADD
            </button>
        </div>
    </div>
</div>