@model RRSCONTROLLER.Models.INSTITUTION
@{
    ViewData["Title"] = "Register Institution";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Manager" asp-action="HomeManagerPAE">Volver</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>
<br />
<br />
<form asp-controller="Manager" asp-action="RegisterInstitution" method="post">
    <div class="form-group">
        <label for="name" class="font-weight-bold text-center">Nombre:</label>
        <input type="text" name="name" class="form-control col-5 mx-auto" />
    </div>
    <div class="form-group">
        <label for="adress" class="font-weight-bold text-center">Direccion:</label>
        <input type="text" name="adress" class="form-control col-5 mx-auto" />
    </div>
    <div class="form-group">
        <label for="numberPhone" class="font-weight-bold text-center">Celular:</label>
        <input type="text" name="numberPhone" class="form-control col-5 mx-auto" />
    </div>
    <div class="form-group">
        <label for="email" class="font-weight-bold text-center">E-mail:</label>
        <input type="text" name="email" class="form-control col-5 mx-auto" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary mx-auto d-block">REGISTRAR</button>
</form>
<br />
<br />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}