@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

<br>
<h2>List of Reports</h2>
<table class="table">
    <thead>
        <tr>
            <th>Shipping</th>
            <th>Report</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>
                <a class="btn btn-primary btn-sm" href="/Models/Edit?id=">View</a>
            </td>
        </tr>
    </tbody>
</table>