<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="top_Title">

    @{
        ViewData["Title"] = "Received";
    }

</div>

<!--<div class = "text-white">-->
<h3>@ViewData["Title"] </h3>
<!--</div>-->

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" />
</div>

<div class="row justify-content-center marginP">
    <div class="col-md-6">
        <h4 class="text-right">Pregunta 1</h4>
    </div>
    <div class="col-md-6">
        <form method="post" action="/Respuestas">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregunta1" id="respuesta1" value="respuesta1">
                <label class="form-check-label" for="respuesta1">
                    Respuesta 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregunta1" id="respuesta2" value="respuesta2">
                <label class="form-check-label" for="respuesta2">
                    Respuesta 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregunta1" id="respuesta3" value="respuesta3">
                <label class="form-check-label" for="respuesta3">
                    Respuesta 3
                </label>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h4 class="text-right">Pregunta 2</h4>
    </div>
    <div class="col-md-6">
        <form method="post" action="/Respuestas">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregunta2" id="respuesta4" value="respuesta4">
                <label class="form-check-label" for="respuesta4">
                    Respuesta 4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregunta2" id="respuesta5" value="respuesta5">
                <label class="form-check-label" for="respuesta5">
                    Respuesta 5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pregunta2" id="respuesta6" value="respuesta6">
                <label class="form-check-label" for="respuesta6">
                    Respuesta 6
                </label>
            </div>

            <div class=" marginP ">
                <label for="fecha">Fecha:</label>
                <input type="text" id="fecha" name="fecha">
            </div>

            <div class="my-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Enviar respuestas</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#fecha", {
        dateFormat: "d-m-Y",
        minDate: "today",
        maxDate: new Date().fp_incr(60),
        enable: [
            {
                from: "today",
                to: new Date().fp_incr(60),
            },
        ],
        clickOpens: true, // Permite abrir el calendario al hacer clic en el campo de entrada
        locale: {
            firstDayOfWeek: 1, // Lunes como primer día de la semana
            weekdays: {
                shorthand: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                longhand: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
            },
            months: {
                shorthand: [
                    "Ene",
                    "Feb",
                    "Mar",
                    "Abr",
                    "May",
                    "Jun",
                    "Jul",
                    "Ago",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dic",
                ],
                longhand: [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre",
                ],
            },
        },
    });
</script>
