<div class="top_Title">
    @{
        ViewData["Title"] = "Home Secretary";
    }
</div>

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton1">
            <a asp-action="OrderStatus" asp-controller="Secretary" class="btn btn-light mx-auto">ESTADOS DE ENVIOS</a>
            <a asp-action="Received" asp-controller="Secretary" class="btn btn-light mx-auto ml-2">EVALUAR ENVIOS</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton1">
            <a asp-action="Exit" asp-controller="Secretary" class="btn btn-light mx-auto">SALIR</a>
        </div>
    </div>
</div>