<div class="top_Title">
    @{
        ViewData["Title"] = "Home Nutritionist Institutionn";
    }
</div>

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton1">
            <a asp-action="Menus" asp-controller="NutritionistInst" class="btn btn-light mx-auto">SOLICITAR MENUS</a>
        </div>
    </div>
</div>

