<div class="top_Title">
    @{
        ViewData["Title"] = "Home Nutritionist Institutionn";
    }
</div>

<h3>@ViewData["Title"] </h3>

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" />
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton1">
            <a asp-action="Menu" asp-controller="NutritionistInst" class="btn btn-light mx-auto">MAKE REQUEST</a>
        </div>
    </div>
</div>

