<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

@{
    ViewData["Title"] = "register Request";
}


<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>

<br />
<br />

<div class="container-fluid no-padding-left">
    <div class="row row-custom">
        <form asp-action="RegisterRequest" asp-controller="NutritionistInst" method="post">

        <div class="col-md-5 d-flex">
            <div class="box">
                @if (ViewBag.zero != null && ViewBag.selectedMenus != null)
                {
                    <table>
                        @for (int i = ViewBag.zero; i < ViewBag.selectedMenus.Count; i++)
                        {
                            <tr>
                                <td class="food">@ViewBag.selectedMenus[i]</td>
                                <td>
                                    <div class="quantity">                                       
                                        <input type="number" name="quantity[]" value="0" data-id="@i">
                                    </div>
                                </td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                        }
                    </table>
                }
            </div>
            
        </div>
        <div class="col-md-6 margin">
           
                @if (ViewBag.zero != null && ViewBag.selectedMenus != null)
                {
                    @for (int i = ViewBag.zero; i < ViewBag.selectedMenus.Count; i++)
                    {
                        <input type="hidden" name="menus[]" value="@ViewBag.selectedMenus[i]">
                    }

                }
        </div>
            <div class="col">
                <div class="label-container">
                    <h1><p>Solicitud</p></h1>
                </div>

                <div class="marginDate3">
                    <label for="date">Fecha de entrega deseada:</label>
                    <input type="text" id="date" name="date">
                </div>

                <button type="submit" class="btn btn-primary btn-lgPe" name="createRegister">SOLICITAR</button>
           
             </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#date", {
        dateFormat: "d-m-Y",
        minDate: "today",
        maxDate: new Date().fp_incr(60),
        enable: [
            {
                from: "today",
                to: new Date().fp_incr(60),
            },
        ],
        clickOpens: true, // Permite abrir el calendario al hacer clic en el campo de entrada
        locale: {
            firstDayOfWeek: 1, // Lunes como primer día de la semana
            weekdays: {
                shorthand: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                longhand: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
            },
            months: {
                shorthand: [
                    "Ene",
                    "Feb",
                    "Mar",
                    "Abr",
                    "May",
                    "Jun",
                    "Jul",
                    "Ago",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dic",
                ],
                longhand: [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre",
                ],
            },
        },
    });
</script>


