html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    width: 300px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.top_separationbutton1 {
    margin-top: 50px;
}

.top_separationbutton {
    margin-top: 30px;
}

.top_separationrecivetext {
    margin-top: 50px;
}

.top_Title {
    text-align: center;
    margin-top: 40px;
}

.ml-2 {
    margin-left: 25.5rem !important;
}

.btn-light {
    border: 1px solid black;
}

.btn-text {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #000;
}


.label-container label {
    margin-bottom: 5px;
}

.label-container label-2 {
    margin-bottom: 25px;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    flex: 1;
}


.short-input {
    width: 9em;
    height: 1.5em;
    padding: 0.25em;
    font-size: 1em;
    margin-top: 1rem;
}

.box-btn {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 0rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    background-color: #EDEDED;
    color: #212529;
}

    .box-btn input[type="checkbox"] {
        display: none;
    }

    .box-btn span {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ddd;
        color: #333;
        border-radius: 4px;
    }

    .box-btn input[type="checkbox"]:checked + span {
        background-color: #007bff;
        color: #fff;
    }

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-disabledNane {
    pointer-events: none; /* disable button selection */
    border-color: #d2d2d2; /* change the border color to light gray */
}

.food {
    font-size: 18px;
}

.amount {
    font-size: 16px;
}

.margin {
    margin-top: 150px;
}

.marginP {
    margin-top: 150px;
}

.marginDate {
    margin-left: 0px;
}
.marginDate2 {
    margin-bottom: 0px;
}

.boxTitle {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
}

.foodTitle {
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.no-padding-left {
    padding-left: 0;
}

.row-custom {
    width: 100%;
}

.col-custom {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
}

.box-column {
    margin-left: 0;
}

.box-column {
    margin-left: -10px;
}

.box-container {
    width: 100%;
    float: left;
}

.align-items-center {
    align-items: center;
}

.checkbox-label {
    font-size: 20px;
}

.MenuD {
    font-size: 30px;
}

.marginBut {
    font-size: 25px;
    margin-top: 30px;
}

.box-outline {
    width: 700px;
    height: 180px;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 10px;
}

#selected-items-box {
    display: none;
}

#parr-box {
    float: right;
    margin-right: 30px;
}

.box-btn-details {
    width: 50%;
    padding: 0.375rem 0.75rem;
    margin-top: 0rem;
    margin-left: 7rem;
    font-size: 1.1rem;
    font-weight: 400;
   
}

.custom-class {
    text-align: right;
}

.box-btn-m {
    width: 50%;
    padding: 0rem 0.35rem;
    margin-top: 0rem;
    margin-left: 0rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 0.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
    color: #f65706;
}

.d-flex-p {
    margin-left: 30px;
}

.d-flex-pb {
    margin-left: 800px;
}

.box-btn-details button.active {
    /* Styles you want to apply when the button is active */
}

#selected-items-box {
    position: absolute;
    top: 50%;
    right: 10%;
    bottom: 0;
    width: 50%;
    background-color: #62b4f1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translateY(-50%);
    z-index: 10;
    height: auto;
    max-height: 210px; 
    overflow-y: auto;
}

    #selected-items-box select {
        width: 160%;       
    }

.header-row {
    background-color: #d1f8ff;
    font-weight: bold;
    color: #dc720d
}

#solicitud-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40%;
    position: absolute;
    top: 30px; /* ajusta la altura según tu diseño */
    right: 190px;
    font-size: 40px;
    font-weight: bold;
}

#selected-items-container {
    max-width: 800px;
}

.align-items-end {
    align-items: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
}
/*//////*/

.quantity input[type="number"] {
    width: 30%;
    height: 40px;
    line-height: 1.65;
    display: block;
    padding: 0 10px;
    border: 1px solid #f65706;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin-left: 180px; /* ajusta este valor según sea necesario */
}

.label-container {
    margin-top: -400px;
    margin-bottom: 100px;
    margin-left: 580px;
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.marginDate3 {
    margin-top: 50px;
    margin-left: 670px;
}

.btn-lgPe {
    margin-left: 720px;
}