html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    width: 300px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.top_separationbutton1 {
    margin-top: 50px;
}

.top_separationbutton {
    margin-top: 30px;
}

.top_separationrecivetext {
    margin-top: 50px;
}

.top_Title {
    text-align: center;
    margin-top: 40px;
}

.ml-2 {
    margin-left: 25.5rem !important;
}

.btn-light {
    border: 1px solid black;
}

.btn-text {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #000;
}


.label-container label {
    margin-bottom: 5px;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.short-input {
    width: 9em;
    height: 1.5em;
    padding: 0.25em;
    font-size: 1em;
    margin-top: 1rem;
}

.box-btn {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    background-color: #EDEDED;
    color: #212529;
}

    .box-btn input[type="checkbox"] {
        display: none;
    }

    .box-btn span {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ddd;
        color: #333;
        border-radius: 4px;
    }

    .box-btn input[type="checkbox"]:checked + span {
        background-color: #007bff;
        color: #fff;
    }

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-disabledNane {
    pointer-events: none; /* disable button selection */
    border-color: #d2d2d2; /* change the border color to light gray */
}

.food {
    font-size: 18px;
}

.amount {
    font-size: 16px;
}

.margin {
    margin-top: 150px;
}

.boxTitle {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
}

.foodTitle {
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

